<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript</title>
    <script src="/assets/js/14-dom.js" defer></script>
    <link rel="stylesheet" href="/assets/css/dom.css">
</head>
<body>
    <h1 id="main-title" >La manipulation du DOM en Javascript</h1>
    <h2 class="title" id="title">Quelsques propriétés CSS</h2>
    <h2 class="title" id="title-d">Pas facile le Javascript</h2>
    <div id="allP">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem quos omnis. Ab, voluptas non nesciunt expedita animi natus consequuntur necessitatibus, architecto quidem neque quisquam quos sapiente ex libero distinctio!</p>
    <p class="txt-uppercase" id="pp">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam mollitia labore ipsam obcaecati, ab eveniet hic distinctio ratione quas sunt atque sed culpa voluptate esse placeat, quo quisquam, eligendi ipsum.</p>
    <p class="txt-uppercase" id="popU">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsum excepturi quo deleniti amet tempora nesciunt at obcaecati animi facere maiores laboriosam ea hic, nam repudiandae ratione ipsam? Magni, suscipit.</p>
    
</div>
</body>
</html>