<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste -exo</title>
    <script src="/assets/js/list.js" defer></script>
</head>
<body>
    <div id="avengers">
    <h1>Le cinema</h1>
    <h2>Mes films preferés</h2>
    <div>
        <ol id="list">
        <li>Iron man</li>
        <li>Avengers: Infinity War </li>
        <li>Avengers: EndGame</li>
        <li>Black Panther 2</li>
        <li>Spiderman:</li>
    </ol>
    </div>
</div>
</body>
</html>